html, body {
  height: 100%;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
}

/* map */
#map_canvas {
  height: 700px;
}
#map_canvas img {
  max-width: none;
}

/* logo */
.logo img {
  padding-bottom: 20px;
  width: 100%;
  max-width: 250px;
  height: auto;
}

/* sidebar */
#side_bar {
  background-color: #f6f8f9;
  border: 1px solid #dadada;
  padding: 20px;
}

#side_bar ul {
  list-style: none;
}

#side_bar ul li {
  color: #9D2235;
  padding: 8px 0 8px 0;
  line-height: 125%;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

#side_bar ul li:hover, #side_bar ul li:focus {
  -ms-transform: translateX(5px);
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
  color: #001A72;
}

/* footer */
.footer {
  background-color: #001A72;
  color: #ffffff;
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 50px;
  clear: both;
  padding: 20px;
  text-align: center;
} 

/* hide radio buttons */
.radio_btns { 
  display: none;
}

/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}