body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
}

#map_canvas {
  position : absolute;
  right : 0;
  top : 0;
  width : 75%;
  height : 100%;
}

#side_bar {
  position : absolute;
  left : 0;
  top : 0;
  width : 25%;
  height : 100%;
  overflow-y : scroll;

  background-color: #f6f8f9;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  margin-bottom: 24px;
}

#side_bar ul {
  list-style : none;
  padding : 0;
}

#side_bar ul li {
  color: #9D2235;
  padding: 8px 0 8px 25px;
  line-height: 125%;
  display: block;
  text-decoration: none;
  cursor : pointer;
}

#side_bar ul li:hover, #side_bar ul li:focus {
  color: #001A72;
}

#side_bar ul li:hover {
  -ms-transform: translateX(5px);
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

#side_bar ul li a {
  padding: 8px 0 8px 25px;
  line-height: 150%;
  display: block;
  text-decoration: none;
}

.radio_btns { display: none;}

